/* colors */
:root{
    --col-green:#47aa57;
    --col-orange:#ff692a;
    --col-light-yellow:#f3e783;
    --col-yellow:#fdca19;
    --col-blue:#036aac;
    --col-light-blue:#00b5d4;
    --col-grey:#303030;
    --col-black:#06050a;
    --col-whitw:#ffffff;

}